<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :street_address, style: "display: block" %>
    <%= form.text_area :street_address %>
  </div>

  <div>
    <%= form.label :unit_number, style: "display: block" %>
    <%= form.text_area :unit_number %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_area :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_area :state %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_area :country %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_area :zip_code %>
  </div>

  <div>
    <%= form.label :property_type_id, style: "display: block" %>
    <%= form.collection_select :property_type_id, PropertyType.order(:property_type), :id, :property_type, include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
