<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :street_address, style: "display: block", class: "form-label" %>
    <%= form.text_field :street_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :unit_number, style: "display: block", class: "form-label" %>
    <%= form.text_field :unit_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city, style: "display: block", class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :state_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select(:state_id, State.all.order(:state), :id, :state, include_blank: true) %>
  </div>

  <div class="form-group">
    <%= form.label :country_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select(:country_id, Country.all.order(:country), :id, :country, include_blank: true) %>
  </div>

  <div class="form-group">
    <%= form.label :zip_code, style: "display: block", class: "form-label" %>
    <%= form.text_field :zip_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :property_type_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select(:property_type_id, PropertyType.all.order(:property_type), :id, :property_type, include_blank: true) %>
  </div>

  <div class="form-group">
    <%= form.label :bedroom_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select :bedroom_id, Bedroom.all.order(:id), :id, :bedroom, include_blank: true %>
  </div>
  
  <div class="form-group">
    <%= form.label :full_bathrooms, style: "display: block", class: "form-label" %>
    <%= form.text_field :full_bathrooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :half_bathrooms, style: "display: block", class: "form-label" %>
    <%= form.text_field :half_bathrooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :amenity_id, style: "display: block", class: "form-label" %>
    <%= form.collection_check_boxes :amenity_ids, Amenity.all.order(:amenity), :id, :amenity, class: "form-check-input" %>
  </div>

  <div class="form-group">
    <%= form.label :room_id, style: "display: block", class: "form-label" %>
    <%= form.collection_check_boxes :room_ids, Room.all.order(:room), :id, :room %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary mt-2" %>
  </div>
<% end %>
