<div id="<%= dom_id property %>">
  <p>
    <strong>Street address:</strong>
    <%= property.street_address %>
  </p>

  <p>
    <strong>Unit number:</strong>
    <%= property.unit_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= property.state.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country.country %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= property.zip_code %>
  </p>

  <p>
    <strong>Property Type:</strong>
    <%= property.property_type.property_type %>
  </p>

  <p>
    <strong>Bedroom(s):</strong>
    <%= property.bedroom.bedroom %>
  </p>

  <p>
    <strong>Full Bathroom(s):</strong>
    <%= property.full_bathrooms %>
  </p>

  <p>
    <strong>Half Bathroom(s):</strong>
    <%= property.half_bathrooms %>
  </p>

  <p>
    <strong>Property Amenities:</strong>
    <% property.amenities.each do |a| %>
      <ul>
        <li><%= a.amenity %></li>
      </ul>
    <% end %>
  </p>

  <p>
    <strong>Property Rooms:</strong>
    <% property.rooms.each do |r| %>
      <ul>
        <li><%= r.room %></li>
      </ul>
    <% end %>
  </p>

</div>
