<div id="<%= dom_id property %>">
  <p>
    <strong>Street address:</strong>
    <%= property.street_address %>
  </p>

  <p>
    <strong>Unit number:</strong>
    <%= property.unit_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= property.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= property.zip_code %>
  </p>

  <p>
    <strong>Property Type:</strong>
    <%= property.property_type.property_type %>
  </p>

  <p>
    <strong>Property Amenities:</strong>
    <% property.amenities.each do |a| %>
      <ul>
        <li><%= a.amenity %></li>
      </ul>
    <% end %>
  </p>

</div>
