<h1>Landlords</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Landlord</th>
            <th scope="col">Landlord Type</th>
            <th scope="col">E-mail Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Website</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tbody>
        <% @landlords.each do |landlord| %>
            <tr>
                <% if landlord.landlord_type === "Company" %>
                    <td scope="col"><%= link_to landlord.company_name, controller: 'landlords', action: 'show', id: landlord.id %></td>
                <% else %>
                    <td scope="col"><%= link_to landlord.full_name, controller: 'landlords', action: 'show', id: landlord.id %></td>
                <% end %>
                
                <td scope="col"><%= landlord.landlord_type %></td>
                <td scope="col"><%= landlord.email %></td>
                <td scope="col"><%= landlord.phone_number %></td>
                <td scope="col"><%= landlord.website %></td>
                <td scope="col"><%= landlord.city %></td>
                <td scope="col"><%= landlord.state.state %></td>
                <td scope="col"><%= landlord.country.country %></td>
            </tr>
        <% end %>
    </tbody>
</table>
